.env
.venv
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.db
*.sqlite3
*.log
*.egg-info/
*.egg
*.zip
*.tar.gz
*.tar.bz2
*.tar.xz
*.tar.lzma
*.tar.Z
*.tar.lz
*.tar.lzo
*.tar.lz4
*.tar.lzop
*.tar.lzma2
*.tar.lz4c
*.tar.lz4f
*.tar.lzop2
.idx
*.nix
.vscode